.tvBox { padding: 0; margin: 0; }
.tvBox li { list-style-type: none; }
/* indent for all tree children excepts root */
.tvNode { background-image : url(jqTree/i.gif); background-position : top left; background-repeat : repeat-y; margin-left: 18px; zoom: 1;}
.tvRoot {margin-left: 0;}
/* left vertical line (grid) for all nodes */
.tvLast {background-image: url(jqTree/i_half.gif); background-repeat : no-repeat;}
.tvOpened .tvExpand {background-image: url(jqTree/expand_minus.gif);}
/* closed is higher priority than open */
.tvClosed .tvExpand { background-image: url(jqTree/expand_plus.gif); }
/* highest priority */
.tvLeaf .tvExpand { background-image: url(jqTree/expand_leaf.gif); }
.tvText { min-height: 18px; margin-left:18px; white-space: nowrap;}
* html .tvText { height: 18px; }
.tvExpand { width: 18px; height: 18px; float: left; }
.tvOpened .tvBox { display: block; }
.tvClosed .tvBox { display: none; }
.tvOpened .tvExpand, .tvClosed .tvExpand { cursor: pointer; }
.tvLeaf .tvExpand { cursor: auto; }