body {padding:0px 5px;margin:0px;}
img{cursor:hand;}
.pageLegend {
	height:29px; width:700px;
	margin:0px;padding:0px;
	font: bold 18px "Arial" ;
	text-align:center; vertical-align:center;
	background-color: #e9f3ff;
	color: rgb(0,0,102);
	border-bottom: rgb(0,0,102) 1px solid;
}

.button {
	border:1px solid #333;
	background-color:#e9f3ff;
	padding:3px 10px;
	text-align:center; 
}
label {color:#5555ff;padding:3px;}

.c1 {width:200px;}
.c2 {width:75px;}
.c3 {width:150px;}
.c4 {width:130px;}
.c5 {width:150px;}
.c6 {width:180px;}
.c7 {width:140px;}
#fsInstr {display:block;width:1050px; margin-right:auto;}
#TIH,#TIB {
	border-collapse:collapse;
	border:solid 1px silver;
	table-layout:fixed;
	color:#000;
	font-size: 12px;
}
#TIH td, #TIH th, #TIB td {
	border-collapse:collapse;
	border:solid 1px #ccf;
	padding: 2px;
}
th a {font: 12px normal ! important; color: #33f ! important;  }
#TIBbox {height:350px;overflow:auto;}
#TIB tr {height:20px;}
td button {padding:0px;}
td button span  {display:block;width:20px;height:19px;}
span.state {background-image:url('../images/ok.gif');}
span.print {background-image:url('../images/print.gif');}
span.post {background-image:url('../images/post.gif');}
span.new {background-image:url('../images/new.gif');}
span.edit {background-image:url('../images/edit.gif');}
span.out {background-image:url('../images/Disabledok.gif');}